<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/Biografia.css">
        <title>Johann Sebastian Bach</title>
    </head>
    <body>
        <nav>
            <ul>
                <!-- Páginas relacionadas -->
                <li><a href="Home">Inicio</a></li>
                <li><a href="Biografia">Biografía</a></li>
                <li><a href="Obras">Trabajos selectos</a></li>
                <li><a href="Registro">Inicia sesión</a></li>
            </ul>
        </nav>
        <section class="Contenedor">
            <section id="Bienvenida">
                <h1>La vida de un hombre peculiar</h1>
                <section id="texto">
                    <p>Aunque Bach enfrentó ciertas desgracias desde joven, supo sobreponerse a la dureza de la vida. Hay quien piensa que incluso utilizo sus desgracias para ser más aplicado, metódico y apasionado que muchos de sus comtemporáneos, pero esto es mera especulación. Lo que sí es claro en la vida de Bach, es que, desde el inicio de su vida, consagró su existencia a la música.</p>
                    <h3>La disciplina como inicio de todo</h3>
                    <p>Johann Sebastian Bach nació en Eisenach, Alemania, en una familia de larga tradición musical el 31 de marzo de 1865. Su padre, Johann Ambrosius Bach, era un reconocido violinista, mientras que varios de sus tíos y primos también eran músicos profesionales. Desde su más tierna infancia, Johann Sebastian estuvo rodeado de música en todas sus formas, y se dice que mostró un talento excepcional desde muy joven.</p>
                    <p>Su madre, Maria Elisabetha Lämmerhirt, murió en 1694 y su padre falleció ocho meses despúes. Así, Johann Sebastian, quedó bajo la tutela de su hermano mayor, Johann Christoph. Este hermano suyo, quien también era músico, continuó la educación musical de Johann Sebastian y le proporcionó acceso a una amplia gama de repertorio musical, desde música sacra hasta música secular, así como a una sólida formación en teoría musical y práctica instrumental.</p>
                    <p>A la edad de diez años, Johann Sebastian ingresó en la prestigiosa Escuela de San Miguel en Lüneburg, donde recibió una educación musical formal y tuvo la oportunidad de estudiar con maestros de renombre. Durante su estancia en la escuela, Johann Sebastian tuvo acceso a una biblioteca musical excepcionalmente rica, lo que le permitió familiarizarse con las obras de los grandes compositores de la época, así como con la música de diferentes estilos y géneros.</p>
                    <p>Se dice que Johann Sebastian Bach mostró un talento excepcional como organista y violinista durante su juventud. A pesar de su corta edad, era capaz de improvisar en el órgano con una destreza técnica y una profundidad emocional que asombraban a quienes lo escuchaban. También se destacó como violinista, participando en diversas agrupaciones musicales locales y demostrando una habilidad extraordinaria en la interpretación de obras musicales complejas.</p>
                    <section id="images">
                        <figure>
                            <img src="https://uamusicabarroca.files.wordpress.com/2014/12/sonata.jpg">
                            <figcaption>Bach en 1710.</figcaption>
                        </figure>
                        <figure>
                            <img src="https://personajeshistoricos.com/wp-content/uploads/2018/04/Johann-Sebastian-Bach-6.jpg">
                            <figcaption>Bach con su familia</figcaption>
                        </figure>
                    </section>
                </section>
            </section>
        </section>
    </body>
</html>