<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/index.css">
        <title>Johann Sebastian Bach</title>
    </head>
    <body>
        <nav>
            <ul>
                <!-- Páginas relacionadas -->
                <li><a href="Home">Inicio</a></li>
                <li><a href="Biografia">Biografía</a></li>
                <li><a href="Obras">Trabajos selectos</a></li>
                <li><a href="Registro">Inicia sesión</a></li>
            </ul>
        </nav>
        <section class="Contenedor">
            <section id="Bienvenida">
                <h1>¿Quién es Johann Sebastián Bach?</h1>
                <section id="texto">
                    <p>En el vasto panorama de la música clásica occidental, pocos nombres resplandecen con tanta luminosidad como el de Johann Sebastian Bach. Este genio del Barroco alemán no solo fue un compositor prolífico, sino también un visionario cuya influencia perdura hasta nuestros días.</p>
                    <p>Bach desafió las convenciones de su época con una audacia creativa incomparable. Su habilidad para tejer complejas estructuras armónicas y contrapuntísticas ha servido de inspiración a innumerables músicos posteriores, desde Mozart hasta los compositores contemporáneos. Cada obra de Bach es un universo en sí misma, un cosmos de emociones y virtuosismo técnico que trasciende las barreras del tiempo y el espacio.</p>
                    <p>Su legado abarca desde obras maestras como la monumental "Misa en si menor" y las "Variaciones Goldberg" hasta piezas más íntimas como las suites para violonchelo y las partitas para violín. La música de Bach no solo encarna la excelencia artística, sino también la profundidad espiritual y la pasión por la exploración sonora.</p>
                    <p>¿Qué misterios y maravillas se esconden tras las partituras de Johann Sebastian Bach? ¿Cómo logró este prodigio musical capturar la esencia misma de la emoción humana en sus composiciones? Adentrémonos en el laberinto de su mente creativa y descubramos los secretos que subyacen en cada nota, en cada armonía. ¿Acaso la música de Bach es simplemente un ejercicio técnico, o es algo más profundo, más trascendental? Acompáñanos en este viaje de exploración y asombro, mientras desentrañamos el legado perdurable de uno de los maestros indiscutibles de la música occidental.</p>
                    <section class="Parrafo1">
                        <h3>Cómo solo el Padre de la música puede ser</h3>
                        <p>La vida de Johann Sebastian Bach está envuelta en un manto de misterio y fascinación. ¿Cómo un humilde organista de provincias se convirtió en uno de los compositores más influyentes de la historia? Desde sus años de juventud, marcados por la tragedia y la adversidad, hasta su ascenso meteórico en los círculos musicales de la Alemania barroca, la biografía de Bach es un relato épico de pasión, sacrificio y genio creativo. Acompáñanos en un viaje hacia el corazón mismo de la vida y obra de este icónico músico, y descubre los secretos que yacen ocultos en las páginas de su historia.</p>
                        <a href="Biografia"><button>Pulsa aquí para leer su biografía</button></a>
                    </section>
                    <section class="Parrafo2">
                        <h3>La maestreza de la obra bachiana</h3>
                        <p>Sumérgete en el vasto océano de la obra de Johann Sebastian Bach, donde cada composición es un mundo en sí misma, una expresión sublime del genio musical. Desde las majestuosas fugas hasta las delicadas suites, Bach nos lleva en un viaje emocional que trasciende las barreras del tiempo y el espacio. Su música, impregnada de ingenio y pasión, sigue resonando con fuerza en el alma de quienes tienen el privilegio de escucharla. Prepárate para explorar un universo de belleza y profundidad, donde cada nota es un tesoro que espera ser descubierto.</p>
                        <a href="Obras"><button>Pulsa aquí para ver sus obras</button></a>
                    </section>
                </section>
                <img src="https://cdn.britannica.com/41/101841-004-48479402/monument-Johann-Sebastian-Bach-Eisenach-Germany.jpg">
            </section>
        </section>
    </body>
</html>