<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/Biografia.css">
        <title>Johann Sebastian Bach</title>
    </head>
    <body>
        <nav>
            <ul>
                <!-- Páginas relacionadas -->
                <li><a href="Home">Inicio</a></li>
                <li><a href="Biografia">Biografía</a></li>
                <li><a href="Obras">Trabajos selectos</a></li>
                <li><a href="Registro">Inicia sesión</a></li>
            </ul>
        </nav>
        <section class="Contenedor">
            <section id="Bienvenida">
                <h1>La riqueza de la obra bachiana</h1>
                <section id="texto">
                    <p>La obra bachiana es vasta y diversa, abarcando más de mil composiciones que muestran la extraordinaria maestría y creatividad de Bach. Su música es conocida por su profundidad emocional, su ingenio contrapuntístico y su riqueza armónica, y ha sido apreciada y estudiada por músicos y oyentes de todo el mundo durante siglos.</p>
                    <p>Algunas de las obras más célebres de la obra bachiana incluyen:</p>
                    <ul>
                        <li>Las <b>"Cantatas Sacras":</b> Bach compuso más de 200 cantatas sacras para uso en los servicios religiosos de la Iglesia Luterana. Estas obras abarcan una amplia gama de temas y estilos, desde las cantatas corales más grandiosas hasta las íntimas cantatas de cámara.</li>
                        <li>Los <b>"Conciertos de Brandeburgo":</b> Esta colección de seis conciertos para diversos conjuntos instrumentales es una de las obras maestras más conocidas de Bach. Cada concierto presenta un enfoque único en la combinación de instrumentos y exhibe la destreza compositiva de Bach en el género del concierto grosso.</li>
                        <li>La <b>"Misa en si menor":</b> Esta monumental obra coral es una de las composiciones más ambiciosas de Bach y una de las cumbres de la música sacra occidental. La "Misa en si menor" combina elementos de la música litúrgica con técnicas compositivas innovadoras, creando una experiencia auditiva profundamente conmovedora y espiritual.</li>
                        <li>Las <b>"Suites para Violonchelo Solo"</b> y las <b>"Sonatas y Partitas para Violín Solo":</b> Estas colecciones de obras instrumentales representan lo mejor del arte de Bach como compositor para instrumentos solistas. Cada suite y sonata exhibe una riqueza de expresión musical y una complejidad técnica que desafían las capacidades del intérprete.</li>
                    </ul>
                    <p>La obra bachiana es un legado musical inigualable que continúa inspirando y asombrando a oyentes y músicos de todas las edades y culturas. La profundidad, la belleza y la universalidad de la música de Bach la convierten en un tesoro invaluable de la humanidad, una fuente inagotable de inspiración y admiración.</p>
                    <section id="images">
                        <figure>
                            <img src="https://webipedia.es/wp-content/uploads/2018/05/03_M%C3%BAsicaBarroca-1024x578.jpg">
                            <figcaption>Conjunto orquestal interpretando obra de Bach.</figcaption>
                        </figure>
                    </section>
                </section>
            </section>
        </section>
    </body>
</html>